---
import { createHash } from "node:crypto";
import { Icon } from "astro-icon/components";

const BadgeTypes = ["tip", "info", "important", "caution", "danger"] as const;
type BadgeType = (typeof BadgeTypes)[number];

export interface Props {
  text: string;
  type?: BadgeType;
  class?: string;
}

const { type = "tip", text, class: className = "" } = Astro.props;

if (!BadgeTypes.includes(type)) {
  throw new Error(`Invalid badge type: ${type}`);
}

const typeConfig: Record<BadgeType, { icon: string; color: string }> = {
  tip: {
    icon: "tabler:bulb",
    color:
      "text-blue-600 dark:text-blue-400 group-hover:text-blue-700 group-focus:text-blue-700 dark:group-hover:text-blue-300 dark:group-focus:text-blue-300",
  },
  info: {
    icon: "tabler:info-circle",
    color:
      "text-green-600 dark:text-green-400 group-hover:text-green-700 group-focus:text-green-700 dark:group-hover:text-green-300 dark:group-focus:text-green-300",
  },
  important: {
    icon: "tabler:exclamation-circle",
    color:
      "text-purple-600 dark:text-purple-400 group-hover:text-purple-700 group-focus:text-purple-700 dark:group-hover:text-purple-300 dark:group-focus:text-purple-300",
  },
  caution: {
    icon: "tabler:alert-triangle",
    color:
      "text-orange-600 dark:text-orange-400 group-hover:text-orange-700 group-focus:text-orange-700 dark:group-hover:text-orange-300 dark:group-focus:text-orange-300",
  },
  danger: {
    icon: "tabler:alert-octagon",
    color:
      "text-red-600 dark:text-red-400 group-hover:text-red-700 group-focus:text-red-700 dark:group-hover:text-red-300 dark:group-focus:text-red-300",
  },
};
const textHash = createHash("md5").update(text).digest("hex");
---

<button
  class="inline-flex relative gap-2 items-center group cursor-help focus-outline"
  aria-describedby={`desc-tooltip-${textHash}`}
>
  <Icon
    name={typeConfig[type].icon}
    class:list={["size-4", typeConfig[type].color]}
    aria-hidden="true"
  />

  <span id={`desc-tooltip-${textHash}`} class="sr-only">
    {text}
  </span>

  <span
    class="absolute left-1/2 bottom-full p-2 mb-3 w-max max-w-xs text-sm leading-snug rounded shadow-lg opacity-0 transition-all duration-150 ease-out transform -translate-x-1/2 translate-y-1 pointer-events-none group-hover:opacity-100 group-hover:translate-y-0 group-focus:opacity-100 group-focus:translate-y-0 text-foreground bg-muted"
    role="tooltip"
    aria-hidden="true"
  >
    {text}
  </span>
</button>
