---
import { type CollectionEntry, render } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";
import BackButton from "@/components/BackButton.astro";
import BackToTopButton from "@/components/BackToTopButton.astro";
import Comments from "@/components/Comments";
import Datetime from "@/components/Datetime.astro";
import EditPost from "@/components/EditPost.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ShareLinks from "@/components/ShareLinks.astro";
import TableOfContent from "@/components/TableOfContent.astro";
import Tag from "@/components/Tag.astro";
import { SITE } from "@/config";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { getPath } from "@/utils/getPath";
import { slugifyStr } from "@/utils/slugify";

export interface Props {
  post: CollectionEntry<"blog">;
  posts: CollectionEntry<"blog">[];
}

const { post, posts } = Astro.props;

const {
  title,
  author,
  description,
  ogImage: initOgImage,
  canonicalURL,
  pubDatetime,
  modDatetime,
  timezone,
  tags,
  hideEditPost,
} = post.data;

const locale = getLangFromUrl(Astro.url);
const localeString = useTranslations(locale);

const { Content, headings } = await render(post);

let ogImageUrl: string | undefined;

// Determine OG image source
if (typeof initOgImage === "string") {
  ogImageUrl = initOgImage; // Remote OG image (absolute URL)
} else if (initOgImage?.src) {
  ogImageUrl = initOgImage.src; // Local asset
}

// Use dynamic OG image if enabled and no remote|local ogImage
if (!ogImageUrl && SITE.dynamicOgImage) {
  ogImageUrl = getRelativeLocaleUrl(
    locale,
    `${getPath(post.data.translationId, post.filePath)}/index.png`
  ).replace(/\/$/, "");
}

// Resolve OG image URL (or fallback to SITE.ogImage / default `og.png`)
const ogImage = ogImageUrl
  ? new URL(ogImageUrl, Astro.url.origin).href
  : undefined;

const layoutProps = {
  title: `${title} | ${localeString("site.title")}`,
  author,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  ogImage,
  scrollSmooth: true,
};

/* ========== Prev/Next Posts ========== */

const allPosts = posts.map(({ data: { title, translationId }, filePath }) => ({
  translationId,
  title,
  filePath,
}));

const currentPostIndex = allPosts.findIndex(
  (a) => a.translationId === post.data.translationId
);

const prevPost = currentPostIndex !== 0 ? allPosts[currentPostIndex - 1] : null;
const nextPost =
  currentPostIndex !== allPosts.length ? allPosts[currentPostIndex + 1] : null;
---

<Layout {...layoutProps}>
  <Header />
  <BackButton />
  <main
    id="main-content"
    class:list={[
      "mx-auto w-full max-w-app px-4 pb-12",
      { "mt-8": !SITE.showBackButton },
    ]}
    data-pagefind-body
  >
    <h1 class="inline-block text-2xl font-bold sm:text-3xl text-accent">
      {title}
    </h1>
    <div class="flex gap-2 items-center my-2">
      <Datetime {pubDatetime} {modDatetime} {timezone} size="lg" />
      <span
        aria-hidden="true"
        class:list={[
          "max-sm:hidden",
          { hidden: !SITE.editPost.enabled || hideEditPost },
        ]}
      >
        |
      </span>
      <EditPost {hideEditPost} {post} class="max-sm:hidden" />
    </div>

    <TableOfContent {headings} />

    <article
      id="article"
      class="mx-auto mt-8 app-prose max-w-app prose-pre:bg-(--shiki-light-bg) dark:prose-pre:bg-(--shiki-dark-bg)"
    >
      <Content />
    </article>

    <hr class="my-8 border-dashed" />

    <EditPost class="sm:hidden" {hideEditPost} {post} />

    <ul class="mt-4 mb-8 sm:my-8">
      {tags.map((tag) => <Tag tag={slugifyStr(tag)} tagName={tag} />)}
    </ul>

    <BackToTopButton />

    <ShareLinks />

    <hr class="my-6 border-dashed" />

    <!-- Previous/Next Post Buttons -->
    <div data-pagefind-ignore class="grid grid-cols-1 gap-6 sm:grid-cols-2">
      {
        prevPost && (
          <a
            href={getRelativeLocaleUrl(
              locale,
              getPath(prevPost.translationId, prevPost.filePath)
            )}
            class="flex gap-1 w-full hover:opacity-75"
          >
            <Icon
              name="tabler:chevron-left"
              class="inline-block flex-none size-6 rtl:rotate-180"
            />
            <div>
              <span>{localeString("nav.prev-post")}</span>
              <div class="text-sm text-accent/85">{prevPost.title}</div>
            </div>
          </a>
        )
      }
      {
        nextPost && (
          <a
            href={getRelativeLocaleUrl(
              locale,
              getPath(nextPost.translationId, nextPost.filePath)
            )}
            class="flex gap-1 justify-end w-full sm:col-start-2 hover:opacity-75 text-end"
          >
            <div>
              <span>{localeString("nav.next-post")}</span>
              <div class="text-sm text-accent/85">{nextPost.title}</div>
            </div>
            <Icon
              name="tabler:chevron-right"
              class="inline-block flex-none size-6 rtl:rotate-180"
            />
          </a>
        )
      }
    </div>

    <Comments
      client:only="react"
      lang={locale}
      lightTheme="light_protanopia"
      darkTheme="transparent_dark"
    />
  </main>
  <Footer />
</Layout>

<script is:inline data-astro-rerun>
  /** Create a progress indicator
   *  at the top */
  function createProgressBar() {
    // Create the main container div
    const progressContainer = document.createElement("div");
    progressContainer.className =
      "fixed top-0 z-10 w-full h-1 progress-container bg-background";

    // Create the progress bar div
    const progressBar = document.createElement("div");
    progressBar.className = "w-0 h-1 progress-bar bg-accent";
    progressBar.id = "myBar";

    // Append the progress bar to the progress container
    progressContainer.appendChild(progressBar);

    // Append the progress container to the document body or any other desired parent element
    document.body.appendChild(progressContainer);
  }
  createProgressBar();

  /** Update the progress bar
   *  when user scrolls */
  function updateScrollProgress() {
    document.addEventListener("scroll", () => {
      const winScroll =
        document.body.scrollTop || document.documentElement.scrollTop;
      const height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;
      const scrolled = (winScroll / height) * 100;
      if (document) {
        const myBar = document.getElementById("myBar");
        if (myBar) {
          myBar.style.width = scrolled + "%";
        }
      }
    });
  }
  updateScrollProgress();

  /** Attaches links to headings in the document,
   *  allowing sharing of sections easily */
  function addHeadingLinks() {
    const headings = Array.from(
      document.querySelectorAll("h2, h3, h4, h5, h6")
    );
    for (const heading of headings) {
      heading.classList.add("group");
      const link = document.createElement("a");
      link.className =
        "no-underline opacity-75 md:opacity-0 heading-link ms-2 md:group-hover:opacity-100 md:focus:opacity-100";
      link.href = "#" + heading.id;

      const span = document.createElement("span");
      span.ariaHidden = "true";
      span.innerText = "#";
      link.appendChild(span);
      heading.appendChild(link);
    }
  }
  addHeadingLinks();

  /* Go to page start after page swap */
  document.addEventListener("astro:after-swap", () =>
    window.scrollTo({ left: 0, top: 0, behavior: "instant" })
  );
</script>
